html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
del {
  text-decoration: line-through;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
div,
fieldset,
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:start:increement {
  height: 0px;
  display: block;
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb:vertical {
  height: 40px;
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
a {
  text-decoration: none;
  color: #00a1ff;
}
a:hover {
  color: #4dbeff;
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(0.2, #f5f5f5));
  background: -moz-linear-gradient(top, #ebebeb 0%, #f5f5f5 20%);
  background: linear-gradient(top, #ebebeb 0%, #f5f5f5 20%);
  position: relative;
  height: 100%;
}
body header.site {
  height: 4em;
  line-height: 4em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(0.85, #e6e6e6), color-stop(1, #dcdcdc));
  background: -moz-linear-gradient(top, #f0f0f0 0%, #e6e6e6 85%, #dcdcdc 100%);
  background: linear-gradient(top, #f0f0f0 0%, #e6e6e6 85%, #dcdcdc 100%);
}
body header.site h1 {
  float: left;
  margin: 0 1em;
  padding: 0 1em;
}
body header.site h1 a {
  display: block;
  color: #666;
  font: bold 1.25em/3.2 "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body header.site menu ul li {
  display: inline-block;
  margin-right: 0.8em;
}
body header.site menu ul li a {
  border: none;
  display: inline-block;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 0.8em;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 25px;
  text-shadow: rgba(255,255,255,0.6) 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #d7d7d7));
  background: -moz-linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #d7d7d7));
  background: -moz-linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  -webkit-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  -moz-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  -o-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  color: txt;
}
body header.site menu ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #dcdcdc));
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
}
body header.site menu ul li a:active {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), color-stop(1, #d2d2d2));
  background: -moz-linear-gradient(bottom, #ebebeb 0%, #d2d2d2 100%);
  background: linear-gradient(bottom, #ebebeb 0%, #d2d2d2 100%);
}
body header.site menu.actions {
  float: left;
}
body header.site menu.settings {
  float: right;
}
body .container {
  border-top: 1px solid #fff;
  padding: 1em 2em;
}
body .container header {
  line-height: 3em;
  padding: 0 1em;
  zoom: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4dbeff), color-stop(1, #00a1ff));
  background: -moz-linear-gradient(top, #4dbeff 0%, #00a1ff 100%);
  background: linear-gradient(top, #4dbeff 0%, #00a1ff 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1em;
}
body .container header:before,
body .container header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body .container header:after {
  clear: both;
}
body .container header h1 {
  float: left;
  font: 125% "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 42px;
  color: rgba(255,255,255,0.7);
}
body .container header h1 strong {
  font-weight: bold;
  color: #fff;
}
body .container header menu {
  float: right;
}
body .container header menu ul li a {
  border: none;
  display: inline-block;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 0.8em;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 25px;
  text-shadow: rgba(255,255,255,0.6) 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #d7d7d7));
  background: -moz-linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #d7d7d7));
  background: -moz-linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  -webkit-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  -moz-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  -o-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  color: txt;
  -webkit-box-shadow: rgba(255,255,255,0.1) 0 0 10px;
  -moz-box-shadow: rgba(255,255,255,0.1) 0 0 10px;
  -o-box-shadow: rgba(255,255,255,0.1) 0 0 10px;
  box-shadow: rgba(255,255,255,0.1) 0 0 10px;
}
body .container header menu ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #dcdcdc));
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
}
body .container header menu ul li a:active {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), color-stop(1, #d2d2d2));
  background: -moz-linear-gradient(bottom, #ebebeb 0%, #d2d2d2 100%);
  background: linear-gradient(bottom, #ebebeb 0%, #d2d2d2 100%);
}
body .container .video {
  width: 640px;
  display: table-cell;
  position: relative;
  ((null)): 0;
  ((null)): 0;
}
body .container .video .you {
  width: 120px;
  height: 90px;
  background: #a0a0a0;
  position: absolute;
  top: 0;
  left: 0;
}
body .container .video .you p {
  font: bold 2em/90px "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #7f7f7f;
}
body .container .video .embed {
  width: 640px;
  height: 480px;
  background: #7f7f7f;
}
body .container .video .embed p {
  font: bold 6em/480px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #969696;
  text-align: center;
}
body .container .msg.box {
  display: table-cell;
  vertical-align: top;
  padding-left: 1%;
  width: 99%;
  position: relative;
}
body .container .msg.box ul.msgs {
  border: 1px solid #ddd;
  background: #fff;
  width: 100%;
  overflow-y: scroll;
  height: 400px;
}
body .container .msg.box ul.msgs li.msg {
  padding: 0.5em 1em;
}
body .container .msg.box ul.msgs li.msg:hover {
  background: #f1f9fd;
}
body .container .msg.box ul.msgs li.msg:not(:last-of-type) {
  border-bottom: 1px dashed #eee;
}
body .container .msg.box ul.msgs li.msg p.msg {
  display: table-cell;
}
body .container .msg.box ul.msgs li.msg p.msg.author {
  width: 15%;
}
body .container .msg.box ul.msgs li.msg p.msg.body {
  width: 80%;
}
body .container .msg.box ul.msgs li.msg p.msg.date {
  width: 5%;
  color: #999;
}
body .container .msg.box form {
  background: #fff;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcdcdc), color-stop(1, #b4b4b4));
  background: -moz-linear-gradient(top, #dcdcdc 0%, #b4b4b4 100%);
  background: linear-gradient(top, #dcdcdc 0%, #b4b4b4 100%);
  height: 80px;
}
body .container .msg.box form input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body .container .msg.box form input[type=text] {
  width: 85%;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: inset rgba(0,0,0,0.15) 2px 2px 5px, rgba(255,255,255,0.3) 0 1px 0;
  -moz-box-shadow: inset rgba(0,0,0,0.15) 2px 2px 5px, rgba(255,255,255,0.3) 0 1px 0;
  -o-box-shadow: inset rgba(0,0,0,0.15) 2px 2px 5px, rgba(255,255,255,0.3) 0 1px 0;
  box-shadow: inset rgba(0,0,0,0.15) 2px 2px 5px, rgba(255,255,255,0.3) 0 1px 0;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 25px;
}
body .container .msg.box form input[type=submit] {
  border: none;
  display: inline-block;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 0.8em;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 25px;
  text-shadow: rgba(255,255,255,0.6) 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #d7d7d7));
  background: -moz-linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #d7d7d7));
  background: -moz-linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  background: linear-gradient(top, #f5f5f5 0%, #d7d7d7 100%);
  -webkit-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  -moz-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  -o-box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  box-shadow: inset rgba(255,255,255,0.1) 0 0 3px, rgba(255,255,255,0.6) 0 1px 0;
  color: txt;
  width: 14%;
  margin-left: 1%;
  -webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  -o-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  box-shadow: rgba(255,255,255,0.3) 0 1px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #dcdcdc));
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
}
body .container .msg.box form input[type=submit]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #dcdcdc));
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
}
body .container .msg.box form input[type=submit]:active {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), color-stop(1, #d2d2d2));
  background: -moz-linear-gradient(bottom, #ebebeb 0%, #d2d2d2 100%);
  background: linear-gradient(bottom, #ebebeb 0%, #d2d2d2 100%);
}
