serif = Georgia, 'serif'
mono = Consolas, 'Lucida Console', Monaco, Courier New, monospace
sans = 'Helvetica Neue', Arial, Helvetica, sans-serif
lucida = 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif 

button()
  border none
  display inline-block
  border 1px solid m200
  border-radius 3px
  cursor pointer
  pad 0 .8em
  dfont()
  lh m*2px - 3px
  text-shadow w60 0 1px 0
  background linear-gradient(top, m245 0%, m215 100%)
  background linear-gradient(top, m245 0%, m215 100%)
  box-shadow inset w10 0 0 3px, w60 0 1px 0
  color txt
  &:hover
    background linear-gradient(top, m250 0%, m220 100%)
  &:active
    background linear-gradient(bottom, m235 0%, m210 100%)
  
ir()
  display block
  text-indent -999em
  overflow hidden
  background-repeat no-repeat
  text-align left
  direction ltr

invisible()
  visibility hidden

hidden()
  display none
  invisible()

visuallyhidden()
  position absolute
  clip rect(0 0 0 0)
  overflow hidden
  margin -1px
  padding 0
  height 1px
  width 1px
  border 0

visuallyhiddenfocusable()
  &:active, &:focus
    position static
    clip auto
    overflow visible
    height auto
    margin 0
    width auto

square()
  height arguments
  width arguments

bs()
  br arguments
  bl arguments

be()
  bt arguments
  bb arguments

bx(t = #fff, r = #999, b = #000, l = #666)
  bt 1px solid t
  br 1px solid r
  bb 1px solid b
  bl 1px solid l
